
{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

        <div class="container my-5">
          <div class="card-body card p-5">
            <h1 class="text-center mb-4">Mantenedor de Bodega</h1>
            <br>
            <div class="row">
              <form method="POST" id="formbode">

                {% csrf_token %}

                {{ form|crispy }}

              <div class="col-md-2">
                <div class="form-group">
                  <button type="submit" class="btn btn-secondary mt-4" id="agregar">Agregar</button>
                  <button type="button" class="btn btn-success mt-4" id="nuevo">Nuevo</button>
                </div>
              </div>
            </form>
            </div>
<br>
            {% if lista_productos   %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID Producto</th>
                  <th>Categoría</th>
                  <th>Producto</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                {% for pro in lista_productos   %}
                <tr>
                  <td>1</td>
                  <td>{{ pro.categoriaProductoBode }}</td>
                  <td>{{ pro.nombreProducto }}</td>
                  <td>En stock</td>
                  <td>
                    <form method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="eliminar" value="{{ pro.idProductoBode }}">
                      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                  </form>
                 </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            </div>
          </div>
          

          
          
          
          {% endblock content %}
