
{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}



        <div class="container mt-5  ">

            <h2>Detalle de la boleta {{ boleta.nro_boleta }} </h2>
            <h5>Venta: {{ boleta.fecha_venta|formatear_fecha }} | Despacho: {{ boleta.fecha_despacho|formatear_fecha }} | Entrega: {{ boleta.fecha_entrega|formatear_fecha }} </h4>
            <hr>
          
            <div class="row justify-content-center">
              <div class="col-md-10 ">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Categoría</th>
                      <th>Producto</th>
                      <th>Precio</th>
                      <th>Oferta</th>
                      <th>% Desc Total</th>
                      <th>Total</th>
                      <th class="text-end"> Descuentos </th>
                      <th class="text-end"> Precio a pagar </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in detalle_boleta %}
                    <tr>
                        <td> {{ item.bodega.categoriaProductoBode }} </td>
                        <td> {{ item.bodega.nombreProducto }} </td>
                        <td> {{ item.precio|formatear_dinero }} </td>
                        <td> {{ item.descuento_subscriptor|formatear_porcentaje }} </td>
                        <td> {{ item.descuento_oferta|formatear_porcentaje }} </td>
                        <td> {{ item.descuento_total|formatear_porcentaje }} </td>
                        <td class="text-end"> {{ item.descuentos|formatear_dinero }} </td>
                        <td class="text-end"> {{ item.precio_a_pagar|formatear_dinero }} </td>
                    </tr>
                {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5" class="text-right">Subtotal:</td>
                      <td>{{ boleta.monto_sin_iva|formatear_dinero }}</td>
                    </tr>
                    <tr>
                      <td colspan="5" class="text-right">IVA (19%):</td>
                      <td>{{ boleta.iva|formatear_dinero }}</td>
                    </tr>
                    <tr>
                      <td colspan="5" class="text-right">Total:</td>
                      <td>{{ boleta.total_a_pagar|formatear_dinero }}</td>
                    </tr>
                  </tfoot>
                </table>
                </div>
              </div>
            </div>
          </div>
          
          

          
          {% endblock content %}
