{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}







<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-10">
      <h1>Mis Datos</h1>
      <br>
      <div class="card-body card p-5" >
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row g-3">
            <div class="col-md-12">
              {% if perfil_form.fields.imagen %}
              <img id="registrarme-imagen" src="{{ perfil_form.instance.imagen.url }}" style="height: 250px;
              object-fit: cover;
              padding: 5px;
              max-width: 250px;
              margin: 0 auto;
              display: block;">
            {% else %}
              <img id="registrarme-imagen" src="{% static 'core/img/Nosotros .jpg' %}" style="height: 300px;
              object-fit: cover;
              padding: 5px;
              max-width: 300px;
              margin: 0 auto;
              display: block;">
            {% endif %}
              {{ perfil_form.imagen|as_crispy_field }}
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  {{ user_form.first_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ user_form.last_name|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {{ perfil_form.rut|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ user_form.email|as_crispy_field }}
                </div>
              </div>
            </div>
            <div class="col-12">
              {{ perfil_form.direccion|as_crispy_field }}
            </div>
            <div class="col-md-12">
              <p>Deseo subscribirme con un aporte de $3000 mensuales y obtener un 5% de descuento en mis compras.
              <div class="form-check">
                {{ perfil_form.subscrito|as_crispy_field }}
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-secondary">Actualizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>







<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}

