{% extends 'core/base.html' %}
{% load static %}

{% block content %}

        
<script>
    function eliminarUser(id){
      Swal.fire({
        title: '¿Estás seguro?',
        text: 'Esta acción no se puede deshacer',
        icon: 'question',
        showCancelButton: true,
        cancelButtonText:'No, cancelar',
        confirmButtonText: 'Sí, eliminar',
        reverseButtons: true
      })
      .then(function(result){
        if(result.isConfirmed) {
            window.location.href = "{% url 'usuarios' 'del' id %}"
        }
      })
    }
  </script>



<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-body card p-5">
          <h2 class="text-center my-4">Mantenedor de usuarios</h2>

          {% if action == 'ins' %}
              <form id="formuser" name="formuser" action="{% url 'registro' %}" method="POST" enctype="multipart/form-data" >
                  {% csrf_token %}
                  {{ form.as_p }}
                  <br>
                  <button type="submit" class="btn btn-secondary">Guardar</button>
                  <button type="reset" class="btn btn-secondary"> Limpiar </button>
              </form>
          {% endif %}

          {% if action == 'upd' %}
              <form id="formuser" name="formuser" action="{% url 'usuarios' action='upd' id=id %}" method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <br>
                  <button type="submit" class="btn btn-secondary">Guardar</button>
                  <a class="btn btn-success btnwidth" href="{% url 'usuarios' 'ins' -1 %}">Nuevo</a>
                  <a href="#" onclick="eliminarUser( {{ id }} )" class="btn btn-danger">Eliminar</a>
              </form>
          {% endif %}

          <hr>
          <h4>Listado de Usuarios</h4>
          <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Tipo</th>
                      <th>RUT</th>
                      <th>Nombres</th>
                      <th>Apellidos</th>
                      <th>Correo</th>
                      <th>Dirección</th>
                      <th>Subscripción</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for usuario in list %}
                  <tr>
                      <td>{{ usuario.id }}</td>
                      <td>{{ usuario.perfil.tipo_usuario }}</td>
                      <td>{{ usuario.perfil.rut }}</td>
                      <td>{{ usuario.first_name }}</td>
                      <td>{{ usuario.last_name }}</td>
                      <td>{{ usuario.email }}</td>
                      <td>{{ usuario.perfil.direccion }}</td>
                      {% if usuario.perfil.subscrito == 1 %}
                      <td>Si</td>
                      {% else %}
                      <td>No</td>
                      {% endif %}
                      <td>
                          <a href="{% url 'usuarios' action='upd' id=usuario.id %}" class="btn btn-primary btn-sm">Editar</a>
                          <a href="#" onclick="eliminarUser( {{ id }} )" class="btn btn-danger btn-sm">Eliminar</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>              
            </table>
          </div>
        </div>
      </div>
  </div>
</div>






{% endblock content %}

